@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root{
    --colour:#47a3d4;
    --tnavcolour:#a0daeb;
    --gold:#E6B325;
    --black:#0F0E0E;
    --light-color:#666;
    --transparent: rgba(249, 250, 253, 0);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Merriweather', serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    /* overflow-y: hidden; */
}

html{
    font-size: 62.5%; 
    /* overflow-x: hidden; */
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even):not(:last-child){
    background:#92cdd8;
}

.sub-heading{
    text-align: center;
    color:var(--colour);
    font-size: 2rem;
    padding-top: 1rem;
    
}

.heading{
    text-align: center;
    color:rgb(0, 0, 0, 0.2);
    font-size: 3rem;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--colour);
    /* letter-spacing: .1rem; */
}


/* Sign up // login form */

.contact{
    background-color: rgb(160, 218, 235);
    height: 100vh;
    width: 100vw;
    /* overflow-x: hidden; */
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;
    margin: 0rem 0rem;
    height: 52rem;
}

.contact .row .image{
    flex:1 1 45rem;
}

.contact .row .image img{ 
    height: 57rem;
    width: 45rem;
    border-radius: 3rem;
    padding-left: 1rem;
}

.contact .row .form{
    flex: 1 1 45rem;
    /* background-color: rgb(255, 19, 6); */
    height: 50rem;
    max-width: 90rem;
    border-radius: 3rem;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(0,0,0,.2);
}
.contact .logo {
    color: var(--black);
    font-size: 3.2rem;
    font-weight: bolder;
    margin: 0rem;
    cursor: pointer;
}

.contact .logo i{
    color:var(--colour);
}


.contact .row .form h3{
    color:var(--black);
    font-size: 4rem;
    margin-left: -18vw;
    padding:.5rem 0;
}

.contact .row .form p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
    text-align: center
}
.contact .row .form .or{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
    text-align: center
}
.contact .row .form .or:before,
.contact .row .form .or:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
}
.contact .row .form .or:before {
    right: 0.5em;
    margin-left: -50%;
}

.contact .row .form .or:after {
    left: 0.5em;
    margin-right: -50%;
}

.contact .row .form  .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:2.5rem 2.5rem;
}

.contact .row .form .icons i{
    font-size: 3rem;
    color:var(--colour);
    width: 7rem;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.contact .row .form .input-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .row .form .input-form form {
    width: 100%;
    height: 18rem;
}
.contact .row .form .input-form form input {
    margin: 1rem 4.5rem;
    width: 40%;
    background: #eee;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}
#message{
    width: 60%;
    height: 100%;
    justify-content: flex-start;
    
    
    
}
#message::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none; /* To allow clicking through the placeholder */
}


.contact .row .form .input-form form .btn{
    margin: 0 4.5rem;
}

.contact .row .form .signUp {
    color: #3146e9;
    text-decoration: none;
}

.contact .row .form .signUp:hover {
    color:var(--black);
    text-decoration: underline;
}
.login{
    margin-top: 5rem;
}
.content{
    flex:1 1 16rem;
}
.content h3{
    color: var(--black);
    font-size: 4rem;
    padding: 0;
}
.content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}



























/* media queries  */
@media (max-width:1200px){
    .contact{
        overflow: hidden;
    }
    .contact .row {
        margin: 6rem 0rem;
    }
    .contact .row .form{
        max-width: 50rem;
    }
    .contact .row .form .logo {
        margin: 0 15rem;
    }
    .contact .row .form .input-form form input {
        margin: 1rem 7.5rem;
    }
    .contact .row .form .input-form form .btn {
        margin: 0 18.8rem;
    }

}
@media (max-width:1050px){
    .contact{
        overflow: hidden;
    }
    .contact .row {
        margin: 0 0rem;
        height: 43rem;
    }
    .contact .row .form{
        max-width: 50rem;
    }
    .contact .row .form h3 {
        color: var(--black);
        font-size: 3rem;
        padding: 0.5rem 0;
        margin-left: -11vw;

    }
    .contact .row .form .logo {
        margin: 0 9.5rem;
    }
    .contact .row .form {
        height: 44rem;
    }
    .contact .row .form .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex: 1 1 17rem;
        padding: 0.5rem 2.5rem;
    }
    .contact .row .form .input-form form input {
        margin: 1rem 5.5rem;
        width: 55%;
    }
    #message {
        width: 80%;
        height: 100%;
        justify-content: flex-start;
    }
    .contact .row .form .input-form form .btn {
        margin: 0 5.1rem;
    }

}

@media (max-width:991px){

    html{
        font-size: 65%;
    }
    .contact{
        overflow-x: hidden;
        /* overflow-y: visible; */
        /* overflow: visible; */
        /* margin: 5rem; */
    }
    
    .contact .row {
        margin: 5vh 5.5vw;
        height: 80vh;
    }
    .contact .row .form {
        height: 44vh;
        max-width: 75vw;
    }
    .contact .row .form .logo {
        margin: 0 25.7rem;
    }
    .contact .row .form .input-form form input {
        margin: 1rem 5.5rem;
    }
    .contact .row .form .input-form form {
        width: 100%;
        height: 18rem;
        margin-top: 6rem;
    }
    .contact .row .form .input-form form .btn {
        margin: 0px 5.1rem;
    }


}

@media (max-width:768px){
    html{
        font-size: 55%;
    }
    .contact{
        height: 100vh;
        overflow-y: visible;
    }
    .contact .row {
        margin: 8vh 6.5vw;
        height: 80vh;
        width: 80vw;
    }
    .contact .row .form {
        height: 57vh;
        max-width: 80vw;
    }
    .contact .row .form .icons i {
        font-size: 4rem;
        color: var(--colour);
        width: 7rem;
        height: 4rem;
        align-items: center;
        justify-content: center;
        padding: 3rem 2rem;
        overflow: visible;
    }
    .contact .row .form .logo {
        margin: 0 25.2rem;
    }
    .contact .row .form .logo i {
        color: var(--colour);
        margin: 0 0.6rem;
    }
    .contact .row .form .input-form form input {
        margin: 1rem 6.3rem;
        width: 45rem;
    }
    .contact .row .form .input-form form .btn {
        margin: 0px 27.9rem;
        width: 14rem;
    }
}
@media (max-width:540px){
    html{
        font-size: 55%;
    }
    .contact {
        overflow-x: hidden;
        height: 100vh;
    }
    .contact .row {
        margin: 8vh 6.5vw;
        height: 85vh;
        width: 80vw;
    }
    .contact .row .form {
        height: 65vh;
        max-width: 80vw;
    }
    .contact .row .form .icons i {
        font-size: 4rem;
        color: var(--colour);
        width: 7rem;
        height: 4rem;
        align-items: center;
        justify-content: center;
        padding: 3rem 2rem;
        overflow: visible;
    }
    .contact .row .form .logo {
        margin: 0 14.7rem;
    }
    .contact .row .form .logo i {
        color: var(--colour);
        margin: 0 0.6rem;
    }
    .contact .row .form .input-form form input {
        margin: 1rem 3.5rem;
        width: 30rem;
    }
    .contact .row .form .input-form form .btn {
        margin: 0px 17.5rem;
        width: 14rem;
    }
}
@media (max-width:450px){
    .contact .row .form {
        height: 50vh;
        max-width: 80vw;
    }
    .contact .row .form .logo {
        margin: 0 9.7rem;
    }
    .contact .row .form .input-form form input {
        margin: 1rem 2.5rem;
        width: 25rem;
    }
    .contact .row .form .input-form form .btn {
        margin: 0px 12.5rem;
        width: 14rem;
        /* position: fixed; */
    }

}
@media (max-width:380px){
    .contact .row .form {
        height: 60vh;
        max-width: 80vw;
    }
    .contact .row .form .logo {
        margin: 0 8rem;
    }
    .contact .row .form .input-form form input {
        margin: 1rem 2.5rem;
        width: 22rem;
    }
    .contact .row .form .input-form form .btn {
        margin: 0px 12.5rem;
        width: 14rem;
    }
}
@media (max-width:300px){
    .contact .row .form h3 {
        color: var(--black);
        font-size: 3rem;
        padding: 0.5rem 0;
        margin-left: 2vw;
    }
    .contact .row .form {
        height: 66vh;
        max-width: 80vw;
    }
    .contact .row .form .logo {
        margin: 0 4.3rem;
    }
    .contact .row .form .input-form form input {
        margin: 1rem 2.5rem;
        width: 23rem;
    }
    .contact .row .form .input-form form .btn {
        margin: 0px 7rem;
        width: 14rem;
    }
}



